@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.editor::-webkit-scrollbar{
  width:0;
  background: transparent;
}

.jodit-status-bar-link{
  display: none !important;
}

.jodit-add-new-line,.jodit-add-new-line_after{
  display: none !important;
}

.jodit-dialog__content::-webkit-scrollbar{
  width:0;
  background: transparent;
}
